/* You can add global styles to this file, and also import other style files */

/* .container-fluid{
  background-color: #0a0b0d;     <style>
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
</style>
} */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fugaz+One&display=swap');

.navbar-brand{
  font-family: 'Chewy', 'Fugaz';
  font-size: 50px;
  font-weight: 400;
  line-height: 1.5vh;
}
.navbar.navbar-dark.bg-dark{
  background-color: #0a0b0d;

}

.form-control.rounded{
  background: rgb(25, 27, 31);
    color: rgb(192, 196, 204);
}
.form-control.rounded:focus{
box-shadow: rgb(41, 44, 51) 0px 0px 0px 1px;
border-color: rgb(41, 44, 51);
color: rgb(255, 255, 255);

}

.navbar-custom {
  background-color: green;
  width: 100%;
  /*#0a0b0d;*/
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
}


#leftbar{
  color: white;
}

.nav-item a{
  color: rgb(255, 255, 255);

}
