<div class="container">

<div class="row">

<div class="col-lg-12" id="cet" *ngFor="let source of Sources" (click)="navigateByUrl(source._id)">

<a href="{{ source.url }}" routerLink="/payments/{{ source._id }}"><img src="{{ source.imageUrl }}"/></a>
    <h4 routerLink="/payments/{{ source._id }}"> {{ source.name }}</h4>
    <p routerLink="/payments/{{ source._id }}"> {{ source.description }}</p>

</div>
 <button class="btn btn-primary col-md-4 mt-4 mb-4" (click)="loadMoreSources()"> Load More</button>


</div>
</div>







